################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/bin/Debug/netstandard2.1/chaos.pdb
/Properties
/assetbundles
